<form action="/<%= idea.id %>" method="post">
  <p>
    Edit your Idea:
  </p>
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="idea[title]" value="<%= idea.title %>"/><br/>
  <textarea name="idea[description]" placeholder="Description"><%= idea.description %></textarea> <br/>
  <input type="text" name="idea[tags]" value="<%=idea.raw_tags%>" size="25"/><br/>
  <input type='submit'/>
</form>
