<form action="/<%= idea.id %>" method="post">
  <p>
    Edit your Idea:
  </p>
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="idea[title]" placeholder="Title"/><br/>
  <textarea name="idea[description]" placeholder="Description"></textarea><br/>
  <input type="text" name="idea[tags]" placeholder="Tags(comma separated)" size="25"/><br/>
  <input type='submit'/>
</form>
