<h2>Ideas by Tag:</h2>
  <% ideas_by_tag.keys.each do |tag| %>
    <h3> <%= tag %> </h3>
    <% ideas_by_tag[tag].map do |idea| %>
      <%= idea.title %> (<%= idea.id %>)<br/>
      <%= idea.description %><br/>
      <br>
    <% end %>
  <% end %>
  
<form action="/" method="get">
  <input type="submit" name="Home" value = "Home">
</form>
